@import theme

.navbar
  nav
    box-shadow none

  li
    display inline
    float none
  
  a
    display inline-block
    height 64px
  
  i.material-icons
    display inline-block
  
  .inline
    display inline-block
  
  nav ul li
    a
      color darkColor
      line-height 64px

    &.active
      background-color darkColor
      a
        color lightColor

  .borderless
    border none

  li
    display inline-block 

  .wide
    width 100%

  #menuText
    margin-left 10px

  .inline
    display inline !important
