@import theme

.party
  border-size = 6px
  border-radius = 2px

  img.partyImage
    width: 100%
    border-bottom border-size solid lightColor
    border-radius border-radius

  p
    margin-top 0
    margin-bottom 2px
    line-height 1

  .row
    margin-bottom 0

  .person
    padding-bottom 5px
